.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #334155;
}

.active {
  background: #2563eb;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}